* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.added-blogs {
  margin-top: 30px;
  margin-bottom: 10px;
}

.user-blogs {
  list-style-type:none;
  text-align: center;
}

.page-title {
  margin-top: 50px;
  margin-bottom: 10px;
}

.list-items {
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  margin-top: 10%;
  width: 100%;
  height: auto;
}

.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background: rgb(238, 255, 223);
  font-size: 16px;
  border: 1px solid rgb(171, 241, 192);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background: rgb(255, 166, 166);
  font-size: 16px;
  border: 1px solid rgb(255, 72, 72);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.log-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: auto;
  position: absolute;
  right: 30px;
}

.blogs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  width: 100%;
  height: auto;
}

.blog-container {
  background-color: rgb(202, 227, 250);
  margin: 10px;
  padding: 15px;
  padding-bottom: 5px;
  width: 20%;
  border-radius: 5px;
  text-align: left;
  word-wrap: break-word;
}

.upvotes-count {
  text-align: right;
  margin-left: auto; 
  margin-right: 0;
}

.blog-author {
  font-size: 12px;
  font-style: italic;
}

.blog-url {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-form {
  margin-top: 20px;
}

.blog-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 10px;
}

input {
  height: 30px;
  width: auto;
  margin-top: 5px;
  border-radius: 5px;
  border-style: solid;
  padding: 5px;
  border: 0;
  box-shadow:0 0 3px 2px rgba(120, 171, 248, 0.384);
}

input:focus-visible {
  outline: none;
  box-shadow:0 0 3px 2px rgba(120, 171, 248, 0.7);
}

.save-blog-btn, .cancel-btn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 60px;
  height: fit-content;
  cursor: pointer;
  margin-left: 30%;
  color: white;
  background-color: rgb(0, 90, 224);
}

.cancel-btn {
  margin-left: 32%;
  margin-bottom: 20px;
}

.save-blog-btn:hover {
  background-color: rgb(224, 224, 224);
  color: black;
}

.login-btn, .logout-btn, .add-blog-btn, .delete-btn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 60px;
  height: fit-content;
  cursor: pointer;
  margin-left: 5%;
  margin-top: 5px;
  color: white;
  background-color: rgb(0, 90, 224);
}

.add-blog-btn {
  width: 100px;
}

.logout-btn, .cancel-btn, .delete-btn {
  color: black;
  background-color: rgb(224, 224, 224);
}

.delete-btn {
  background-color: rgb(220, 236, 250);;
  margin-left: 0%;
  float: left;
}

.login-btn:hover, .add-blog-btn:hover {
  color: black;
  background-color: rgb(224, 224, 224);
}

.logout-btn:hover, .cancel-btn:hover {
  color: white;
  background-color: rgb(0, 90, 224);
}

.view-details-btn, .hide-btn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 40px;
  height: fit-content;
  float: right;
  cursor: pointer;
  margin-top: 5px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
}

.like-btn {
  background: none;
  border: none;
  cursor: pointer;
}